
:root {

  --backGroundColour: #FFFFFF; /* exclusive to backgrounds */
  --borderColour: #000000; /* exclusive to borders */

  --lightTextColour: #f8f1e4; /* for use on dark backgrounds */
  --darkTextColour: #1f0000; /* for use on light backgrounds */

  --lightestColour: #FDF0D5;
  --midLightColour: #669bbc;
  --midColour: #c1121f;
  --midDarkColour: #780000;
  --darkestColour: #003049;
  
  
  

}

body {
  background-color: var(--backGroundColour);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--darkTextColour);
  text-align: center;
}

.titleBar, .instructionsBar, #resultDisplay, .restartContainer {
  text-align:center;
  color: var(--midDarkColour);
}

.titleBar {
  background-color: var(--midDarkColour);
  color: var(--lightTextColour);
  padding: 5px;
  margin: 10px auto 60px auto;
  width: 80vw;
  font-size: 22px;
}

.instructionsBar {

  font-size: 20px;
  padding: 5px;
  margin: 60px auto ;
  width: 60vw;
  border: 2px solid var(--borderColour);
  background-color: var(--lightestColour)
}

.gamePlayContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
  margin: 60px auto;
  width: 80vw;
}

.scoreContainer {
  min-width: 200px;
}

.scoreTitle {
  font-size: 20px;
  font-weight: 800;
  margin: 0 auto;
}

.scoreDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: auto;
  background-color: var(--midColour);
  border-radius: 20px;
  font-size: 40px;
  font-weight: 700;
}

.rpsButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.playerSelectButton {
  background-color: var(--darkestColour);
  color: var(--lightTextColour);
  padding: 10px;
  min-width: 90px;
  border-radius: 8px;
  font-size: 16px;
}

#resultContainer {
  margin: 60px auto;
  font-size: 20px
}

#resultDisplay {
  font-size: 14px;
  margin: auto;
  min-height: 50px;
  width: 60vw;
  background-color: var(--midLightColour);
  color: var(--darkTextColour);
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items:  center;
}

.restartContainer {
  margin-top: 60px;
}

#restartButton {
  font-size: 16px;
  padding: 5px 15px;
  background-color: var(--darkestColour);
  color: var(--lightTextColour);
  border: 2px solid var(--borderColour);
  border-radius: 8px;
}



